<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proladon Personal Resume</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <div id="app">
        <div id="lang">EN / CH</div>

        <div class="page-wrapper">

            <!-- Header -->
            <div class="header section">
                <div class="deco-line"></div>
                <div class="slogan-wrapper">
                    <div class="slogan">{{ lang.slogan.slogan1 }}</div>
                    <div class="slogan">{{ lang.slogan.slogan2 }}</div>
                </div>
            </div>
            
            <!-- Profile -->
            <div class="profile section">
                <div class="avatar-wrapper">
                    <img id="avatar" :src="avatar" alt="">
                </div>
                <div class="name-wrapper">
                    <div class="name">{{ lang.name }}</div>
                    <div class="nick">{{ nick }}</div>
                </div>
                <div class="contact-wrapper">
                    <div class="website"> <a :href="website" target="_blank">Personal Website</a> </div>
                    <div class="mail"><a :href="`mailto:${mail}`">{{ mail }}</a> </div>
                </div>
            </div>

            <!-- Pro -->
            <div class="pro section">
                <div v-for="pro in lang.prof" :key="pro">
                    {{ pro }}
                </div>
            </div>

            <!-- EDU & Skill -->
            <div class="edu_skill-wrapper section">
                <!-- EDU -->
                <div class="edu-wrapper">
                    <div class="edu-title">{{ lang.edu.edu1_name }}</div>
                    <div class="edu-title">{{ lang.edu.edu1 }}</div>

                    <div class="edu-title">{{ lang.edu.edu2_name }}</div>
                    <div class="edu-title">{{ lang.edu.edu2 }}</div>
                </div>
                
                <!-- Sskill -->
                <div class="skill-wrapper">
                    <p>工業設計 技能</p>
                    <p>程式設計 技能</p>
                    <p>2D/3D創作 技能</p>
                    <p>影音多媒體 技能</p>
                </div>

            </div>

            <!-- Awards -->
            <div class="awards-wrapper section">
                <!-- Awards Years -->
                <div class="years">
                    <div v-for="year in lang.awards.years" :key=year>
                        {{ year }}
                    </div>
                </div>

                <!-- Award Name -->
                <div class="awards">
                    <ul v-for="award in lang.awards.award" :key="award">
                        <li v-for="item in award" :key="item">
                            {{ item }}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="slider">
                ← Slide →
            </div>
        </div>

        <div class="section"></div>
    </div>


    <script type="module">
        var app = new Vue({
            el: "#app",
            data: {
                // 當前語言
                lang: Object,

                // 基本資料
                avatar: "./src/oriki.png",
                nick: "Rex / Proladon",
                website: "12313",
                mail: "Proladon@gmail.com",

                // 中文履歷資料
                CH:{
                    name: "江宇弘",
                    slogan:{
                        slogan1: "Live for",
                        slogan2: "Create and Share"
                    },
                    prof:["工業設計師", "Coder", "Youtuber", "3D/2D Artist"],
                    edu:{
                        edu1_name: "大同大學 ( TTU )",
                        edu1: "工業設計所 (碩士)",
                        edu2_name: "亞東技術學院 ( OIT )",
                        edu2: "工商業設計系"
                    },
                    awards:{
                        years: ['2019', '2018', '2017'],
                        award: {
                            award2019: ['Discord HackWeek 2019 (Moderation Bot Develope) - Libereus (第二名)'],
                            award2018: [
                                '金點新秀 YoungPin - 弓形鋸輔助套件', 
                                '秀年度最佳設計獎', 
                                '贊助特別獎', 
                                '全類別前50',
                                '福興 3F ZIPPER - Hook Zipper (第三名)',
                                '華宇織造 - 孕婦抱枕 (第三名)'
                                ],
                            award2017: [
                                'KDesign OTOS Prize - MFSG-1 Goggles',
                                'KDesign OTOS Prize - MFSG-2 Goggles',
                            ]
                        }
                    }
                }

                // 英文履歷資料
            },
            mounted(){
                this.lang = this.CH
            }
        });

        


    </script>
</body>

</html>