*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 12px;
}

#app, body, html{
    width: 100%;
    height: 100%;
}

#app{
    position: relative;
    background-color: #B3C9CE;
}

.section{
    padding-top: 15px;
    padding-bottom: 15px;
}

#lang{
    text-align: center;
    margin: 15px;
}

/* ===============
                   內容
================ */

.page-wrapper{
    width: 87%;
    margin: 0 auto;
    background-color: #DBDBDB;
    box-shadow: 30px 30px 60px 1px  rgba(23, 35, 47, 50);
    padding: 20px;
    box-sizing: border-box;
}


/* ===============
                 Header
================ */

.header{
    width: 100%;
    height: 15%;
    box-sizing: border-box;
}

.deco-line{
    height: 2em;
    width: 2px;
    background-color: #B3C9CE;
    float: left;
}

.slogan-wrapper{
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    text-align: right;
    font-family: consolas;
}

/* ===============
                 Profile
================ */

.profile{
    /* border: springgreen solid 1px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

#avatar{
    width: 15vw;
    height: 15vw;
    border-radius: 15vw;
    /* max-height: 100px; */
    background-color: steelblue;
}

.name-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ===============
                    Pro
================ */

.pro{
    display: flex;
    justify-content: space-between;
}

/* ===============
             Edu & Skill
================ */

.edu_skill-wrapper{
    display: flex;
    justify-content: space-between;
}

/* ===============
                 Awards
================ */

.awards-wrapper{
    display: flex;
}

/* ===============
                 Slider
================ */

.slider{
    text-align: center;
}